
body, html {

  height: 100%;
  margin: 0;
  /*overflow: hidden;*/
}
a{text-decoration:none;}
li{list-style:none;}


/*--------INICIO--------*/
header{

  width: 100%;
  height: 100%;
  background-image:url(imgs/inicial2.jpg);
  background-repeat: no-repeat;
  /*background-color: LightGreen;*/
  opacity: 0.9;
  background-size: 100%;
  background-position: top;
}
header img{

    position: absolute;
    height: auto;
    width: 22%;
    left: 47%;
    top: 47%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    filter: brightness(50%);
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    animation-name: aniLogo;
    animation-duration: 3s;
  }
@keyframes aniLogo {
    from {left: -50%}
    to {left: 47%;}
  }
header img:hover{
    opacity: 0.5;
    cursor: pointer;
    }


/*--------MENU--------*/
#iconoMenu{
        display: none;
        overflow: hidden;
        position: fixed;
        z-index: 1000;
        font-size: 2em;
        width: 6%;
        text-align: center;
        top: 6%;
        left: 2%;
        color: #007f54;
        transition-property: color;
        transition-duration: 3s;
        transition-timing-function: ease-out;
        transition-property: font-size;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        animation-name: aniIniciales;
        animation-duration: 3s;

    }

@keyframes aniIniciales {
        from {width: 8%; top:8%;}
        to {width: 6%; top: 6%;}
      }
#iconoMenu img{
        width:80%;
}
#iconoMenu:hover{
          color: LimeGreen;
          font-size: 2.5em;
          cursor: pointer;
    }


  #menu{

    overflow: hidden;
    position: fixed;
    z-index: 1000;
    font-size:1em;
    width:48%;
    top: 5%;
    left: 5%;
    text-transform: uppercase;
    font-family: 'Yaldevi', sans-serif;
    font-weight: bold;

    }
  #menu > li{

    float: left;
    text-decoration: none;
    text-align: center;
    border: 1px solid LightGreen;
    border-radius: 3px;
    padding: 1%;
    margin-left: 2%;
    width: 20%;
    background-color: LightGreen;
    opacity: 0.7;
    display: none;

  }
  #menu > li a{
        color: #007f54;
        padding: 2%;
        font-weight:bold;
        display: block;
  }
  #menu > li:hover{
        background-color: LimeGreen;
  }
.subMenu{display: none; }
.subMenu > section{margin-top: 2%;}
.subMenu li a{display: none;}
#menu >li:hover .subMenu{
    display: block;
    cursor: pointer;
}

/*----------------SERVIVIOS--------------*/
#servicios{

      overflow:auto;
      display:none;
      width: 100%;
      height: 100%;
      position: relative;
      /*background-image:url(imgs/inicial2.jpg);
      background-repeat: no-repeat;*/
      background-color: black;
      opacity: 0.9;
      background-size: 100%;
      background-position: bottom;
      font-family: 'Yaldevi', sans-serif;


}

#titServ{

      font-family: 'Yaldevi', sans-serif;
      font-weight: bolder;
      color: LimeGreen;
      font-size: 2em;
      text-align: center;
      position: absolute;
      left: 49%;
      top: 5%;
      width: 45%;
    }

#introServicios {
    position: absolute;
    width: 50%;
    top: 15%;
    left: 35%;
}
#introServicios p {
    text-align: right;
    font-weight: bolder;
    position: relative;
    left: 28%;
    margin-top: 15%;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    color: OldLace;
}
/********-----MENU SERVICIOS------*********/
#servs{
  position: absolute;
  padding: 0;
  width: 30%;
  transition-property: width;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  height: 75%;
  left: 60%;
  top: 18%;
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg); /* Standard syntax */
  border-left: 1px solid green;
}

#servs > li{

  text-align: left;
  padding: 2%;
  position: relative;
  background-color: LimeGreen;
  margin-bottom: 5%;
  top: 15%;
  width:50%;
  height: 10%;
  left: 5%;
  transition-property: width;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;

}
#servs li:hover{
  width: 60%;
  cursor: pointer;
}
#servs li a{

  font-family: 'Yaldevi', sans-serif;
  font-size: 1.9em;
  transition-property: display;
  transition-duration: 0.7s;
  width: 100%;
  color: green;
  font-weight:lighter;

}
#servs li:hover a{

  font-weight: bold;
  opacity: 0.5;
  padding-left: 2%;
  margin-left:0;
  right:70%;

}
/*---------SLIDESHOW---------*/

.slide{
  width: 35%;
  position: relative;
  left: 10%;
  top:30%;
}
.imgsSlide{
  display: none;
  width: 100%;
}
.w3-animate-fading {
    animation: fading 10s infinite;
}
/*********------SECCIONES-------***********/
#seccionAnalisis, #seccionInvestigacion, #seccionFormacion, #seccionFortalece, #seccionAvaluos{
  display: none;
  overflow-y: hidden;
  position: absolute;
  width: 50%;
  height: 100%;
  top:0;
  padding: 15% 4% 2% 4%;
  background-color: SandyBrown;
}
#seccionAnalisis h2, #seccionInvestigacion h2, #seccionFormacion h2,#seccionFortalece h2, #seccionAvaluos h2{
  text-align: right;
  font-weight: bolder;
  position: relative;
  font-size: 2.5em;
  border-bottom: 3px solid OldLace;
  text-align: center;
  width: 100%;
  color: OldLace;
}
#seccionAnalisis p, #seccionInvestigacion p, #seccionFormacion p, #seccionFortalece p, #seccionAvaluos p{

  text-align: justify;
  font-size: 2em;
  color: OldLace;

}

/*-----------------INSTITUCIONAL-----------------*/

#institucional{

      overflow:auto;
      display: none;
      /*background-image:url(imgs/network.jpg);
      background-repeat: repeat-y;*/
      background-color: black;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      position: relative;
      left: 0;
      top: 0;
      font-family: 'Yaldevi', sans-serif;
}
#titInst{

      color: green;
      font-size: 2em;
      text-align: center;
      position: absolute;
      left: 49%;
      top: 5%;
      width: 45%;
      animation-name: tituloInstitucional;
      animation-duration: 4s;
  }
@keyframes tituloInstitucional {
from {left: 1%;}
to {left: 49%;}
}


#circulo {
    position: absolute;
    left: 55%;
    top:22%;
     width: 500px;
     height: 500px;
     -moz-border-radius: 60%;
     -webkit-border-radius: 60%;
     border-radius: 60%;
     background: SandyBrown;
     transition-property: left;
     transition-duration: 0.9s;
     transition-timing-function: ease-out;

}
#circulo:hover {
    cursor: pointer;
}

#circulo:hover div{
    display: block;
}
#cuarto-quienes {

    position: absolute;
    opacity: 0.7;
    background-color: LightGreen;
    left: 51%;
    top:2%;
     width: 47.5%;
     height: 47.5%;
     border: 1px solid LimeGreen;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
     transition-property: display;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
     transition-property: opacity;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
     transition-property: width;
     transition-duration: 0.9s;
     transition-timing-function: ease-out;
     transition-property: height;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;

}

#cuarto-quienes p{

      text-align: center;
      font-size: 1.5em;
      margin-top: 50%;
      font-weight: bold;
      color: green;

}
#cuarto-quienes:hover, #cuarto-objeto:hover, #cuarto-mision:hover, #cuarto-vision:hover{
      cursor: pointer;
      opacity: 1;
      background: OrangeRed;
}
#cuarto-quienes:hover p, #cuarto-objeto:hover p, #cuarto-mision:hover p, #cuarto-vision:hover p{
      display: block;
      cursor: pointer;
      color: OrangeRed;
}
#cuarto-objeto {
    position: absolute;
    opacity: 0.7;
    background-color: LightSalmon;
     width: 47.5%;
     height: 47.5%;
     top:2%;
     left: 2%;
     border: 1px solid LimeGreen;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
     -ms-transform: rotate(-90deg); /* IE 9 */
     transform: rotate(-90deg); /* Standard syntax */
     transition-property: opacity;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
     transition-property: width;
     transition-duration: 0.9s;
     transition-timing-function: ease-out;
     transition-property: height;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
}
#cuarto-objeto p{

      text-align: center;
      font-size: 1.5em;
      margin-top: 50%;
      font-weight: bold;
      color: green;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */

}

#cuarto-mision {

    position: absolute;
    opacity: 0.7;
    background-color: LightSalmon;
     width: 47.5%;
     height: 47.5%;
     top:50%;
     left: 2%;
     border: 1px solid LimeGreen;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
     -ms-transform: rotate(-180deg); /* IE 9 */
     transform: rotate(-180deg); /* Standard syntax */
     transition-property: opacity;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
     transition-property: width;
     transition-duration: 0.9s;
     transition-timing-function: ease-out;
     transition-property: height;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
}
#cuarto-mision p{

      text-align: center;
      font-size: 1.5em;
      margin-top: 50%;
      font-weight: bold;
      color: green;
      -ms-transform: rotate(180deg); /* IE 9 */
      transform: rotate(180deg); /* Standard syntax */

}

#cuarto-vision {

    position: absolute;
    opacity: 0.7;
    background-color: LightSalmon;
    left: 51%;
    top:50%;
     width: 47.5%;
     height: 47.5%;
     border: 1px solid LimeGreen;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
     -ms-transform: rotate(90deg); /* IE 9 */
     transform: rotate(90deg); /* Standard syntax */
     transition-property: display;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
     transition-property: opacity;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;
     transition-property: width;
     transition-duration: 0.9s;
     transition-timing-function: ease-out;
     transition-property: height;
     transition-duration: 0.7s;
     transition-timing-function: ease-out;

}
#cuarto-vision p{

      font-weight: bolder;
      font-size: 1.5em;
      left: -50%;
      color: green;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */

}

#quienes, #objeto, #misionN, #visionN{

  display: none;
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 15% 4% 2% 4%;
  background-color: SandyBrown;

}
#quienes h2, #objeto h2, #misionN h2, #visionN h2{

  margin-bottom: 5%;
  text-align: right;
  font-weight: bolder;
  position: relative;
  font-size: 2.5em;
  border-bottom: 3px solid OldLace;
  text-align: center;
  width: 100%;
  color: OldLace;
  font-family: 'Yaldevi', sans-serif;

}
#quienes p, #objeto p, #misionN p, #visionN p{
    text-align: justify;
    font-size: 1.5em;
    padding: 2%;
    color: OldLace;
}
/*-------------------------PROPUESTAS--------------------*/
.cssModal {

  height: 100%;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255255,255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.cssModal h2,h4,h5{
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
.cssModal h6{
  font-size: 0.8em;
  font-style: italic;

}
.cssModal h4{
  font-size: 0.9em;
  font-weight:bolder;
}
.contenidoCaracterización {
  position: relative;
  top: 10%;
  padding: 12%;
  width: 100%;
  height: 100%;
  text-align: justify;
  margin-top: 2%;
  color:black;
  font-size: 1.5em;
  font-weight: bold;
}


/*-----------------CONTANCTO-------------------*/
#contacto{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c8e4e8;
  padding: 20px;
  display: none;
  font-family: 'Yaldevi', sans-serif;
  color: LightSalmon;
}

#mapa{
  display: block;
  position: absolute;
  width: 24%;
  height: 48%;
  left: 10%;
  top:25%;
}
#mapa p{

  float: left;
  text-align: left;
  margin: 0 15% 0 0;
}


iframe{
  width:100%;
  height: 100%;
  position: relative;
}

#contactenos{
  position: relative;
  width:35%;
  left: 55%;
  border-radius: 15px;
  padding: 3%;
}
#contactenos h2{
    color: green;
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
}

input[type=text], select, textarea {

  width: 100%;
  padding: 12px;
  background-color: PaleTurquoise;
  border-radius: 4px;
  border-color: PaleTurquoise;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: LightSalmon;
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: LimeGreen;
}
